.input{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 70%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-size: 13px;
}
.filter{
    width: 30%;
    height: 40px;
    font-size: 17px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filters{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filtersMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
button{
    margin-top: 0px !important;
}
.form{
    margin-top: 20px;
    background-color: #f0f0f0 !important;
}
.filterBtns{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.prefBtn{
    margin-left: 50px;
}


@media (max-width: 425px) {
    .input{
        width: 100%;
    }
    .filters{
        width: 100%;
        flex-direction: column;
    }
    .filterBtns{
        flex-direction: column;
        align-items: center;
    }
    .filter{
        width: 100%;
        margin-bottom: 20px;
    }
    .prefBtn{
        margin-left: 0px;
        margin-top: 20px !important;
    }
}